.list-item {
  border: 1px solid lightpink;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

.tags-list {
  width: 80%;
}
