<table mat-table
       style="width: 100%"
       *ngIf="datasource"
       [dataSource]="datasource"
       class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell
            *matHeaderCellDef>Title</th>
        <td mat-cell
            *matCellDef="let ts"> {{ts.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="startDate">
        <th mat-header-cell
            *matHeaderCellDef> Start Date </th>
        <td mat-cell
            *matCellDef="let ts"> {{ts.startDate}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="endDate">
        <th mat-header-cell
            *matHeaderCellDef> End Date </th>
        <td mat-cell
            *matCellDef="let ts"> {{ts.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef> Actions </th>
        <td mat-cell
            *matCellDef="let ts">
            <button mat-button
                    (click)="viewTransactions($event)">View</button>
        </td>
    </ng-container>


    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>